# 列表List
- 一个列表可以储存任意大小的数据集合，你可以理解为他是一个容器

In [6]:
def b():
    pass

In [7]:
a=[1,2,1.5,'ab',True,b,[1,2,['fg']]]
a

[1, 2, 1.5, 'ab', True, <function __main__.b()>, [1, 2, ['fg']]]

In [8]:
#强制转换
#int不可强制 可迭代才可以强制转换
c='abc'
list(c)

['a', 'b', 'c']

## 先来一个例子爽一爽
![](../Photo/115.png)

## 创建一个列表
- a = [1,2,3,4,5]

## 列表的一般操作
![](../Photo/116.png)

In [9]:
a=[1,2]
b=[1,2]
a+b

[1, 2, 1, 2]

In [10]:
a=[1,2]
10*a

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [11]:
a=[1,2,3,4,5,[100,200,[1000,[4000]]]]

In [12]:
a[5][0]

100

In [13]:
a[5][2][1][0]

IndexError: list index out of range

In [14]:
b=[1,2,3,]
b[1]=100

In [16]:
b

[1, 100, 3]

In [15]:
b

[1, 100, 3]

In [20]:
b=[1,2,3,4,5,6,7,8,9,10]
for i in range (0,10,2):
    b[i]=100
b

[100, 2, 100, 4, 100, 6, 100, 8, 100, 10]

In [24]:
b=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,10,3):
    print(b[i:i+2])

[1, 2]
[4, 5]
[7, 8]
[10]

In [25]:
c=[1,3,2,5]
len(c)

4

In [31]:
c=[1,2,3,[3,4]]#求元素个数
count=0
for i in c:
    if type(i)==list:
        for j in i:
            count +=1
    else:
        count +=1
print(count)

5

In [32]:
a[1,2,3]
i=0
while i<len(a):
    print(a[i+1])
    i+=1

TypeError: list indices must be integers or slices, not tuple

In [3]:
a=[1,2,3,6,8]
for i in range(len(a)-1):
    for j in range(len(a)-1-i):#-1一次锁定最大值
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)

[1, 2, 3, 6, 8]

# 列表索引操作
- Mylist[index]
- 正序索引，逆序索引
- 列表一定注意越界
- ![](../Photo/117.png)

## 列表切片操作
- Mylist[start:end]
- 正序切片，逆序切片

## 列表 +、*、in 、not in

## 使用for循环遍历元素
- for 循环可以遍历一切可迭代元素

## EP：
- 使用while 循环遍历列表

## 列表的比较
- \>,<,>=,<=,==,!=

## 列表生成式
[x for x in range(10)]

## 列表的方法
![](../Photo/118.png)

In [4]:
a=[1,2,3]
b=100
a.append(b)

In [5]:
a

[1, 2, 3, 100]

In [6]:
a=[1,2,3]
b=[100,200]
a.append(b)

In [7]:
a

[1, 2, 3, [100, 200]]

In [9]:
a=[1,2,[5,6],7]
b=[100,200]
a[2].append(b)

In [10]:
a

[1, 2, [5, 6, [100, 200]], 7]

In [12]:
a=[1,2,[1,6],7]
a.count([1,6])

1

In [13]:
a=[1,2,[5,6],7]
b=[100,200]
a.extend(b)

In [14]:
a

[1, 2, [5, 6], 7, 100, 200]

In [15]:
c=[1,1,2,3]
c.insert(0,100)
c

[100, 1, 1, 2, 3]

In [18]:
c=[1,2,3,4]
for i in range (0,6,3):
    c.insert(i,100)
c

[100, 1, 2, 100, 3, 4]

In [1]:
c=[1,2,3,4,5,6,7]
for i in range(0,len(c)+4,3):
    c.insert(i,100)
c

[100, 1, 2, 100, 3, 4, 100, 5, 6, 100, 7]

In [7]:
a=[1,2,3]
a.pop(0)

1

## 将字符串分割成列表
- split  按照自定义的内容拆分

In [9]:
a='a b c d'
a.split(' ')

['a', 'b', 'c', 'd']

In [11]:
a='a!b!c!d'
a.split('!')
a[0]

'a'

In [14]:
a='ab cd'

a.split(' ',2)

['ab', 'cd']

## EP:
![](../Photo/119.png)
![](../Photo/120.png)

In [16]:
import random

In [17]:
a=[1,2,5,4]
random.shuffle(a)
a

[1, 5, 4, 2]

In [22]:
d=[1,2,3,[2,3],4]
d.remove([2,3])

In [23]:
d

[1, 2, 3, 4]

In [24]:
d=[1,2,3,4]
d.reverse()
d

[4, 3, 2, 1]

In [25]:
d=[1,2,3,4]
d.sort()
d

[1, 2, 3, 4]

In [26]:
d=[1,2,3,4]
d.sort(reverse=True)
d

[4, 3, 2, 1]

## 列表的复制
- copy 浅复制
- deepcopy import copy  深复制
- http://www.pythontutor.com/visualize.html#mode=edit

In [19]:
a=[1,2,3]
b=a
b

[1, 2, 3]

In [20]:
a[0]=100
a

[100, 2, 3]

In [21]:
b

[100, 2, 3]

In [22]:
c=[1,2,3]
d=c.copy()

In [23]:
c[0]=100
c

[100, 2, 3]

In [24]:
d

[1, 2, 3]

In [ ]:
c=[1,2,3,[100,200]]
d=c.copy()

In [25]:
import copy
a=[1,2,3,[100,200]]
b=copy.deepcopy(a)
b

[1, 2, 3, [100, 200]]

In [26]:
a[3][0]=1000
a

[1, 2, 3, [1000, 200]]

In [27]:
b

[1, 2, 3, [100, 200]]

## 列表排序
- sort
- sorted
- 列表的多级排序
    - 匿名函数

In [28]:
(lambda x:print(x**2))(100)

10000

In [ ]:
c=[1,3,4]
c.sort(reverse=True)
c.

In [29]:
c=[['cy',100],['sy',20],['wej',0]]
c.sort(key=lambda x:x[1])
c

[['wej', 0], ['sy', 20], ['cy', 100]]

In [31]:
c=[['cy',100,[80,20]],
   ['sy',20,[10,10]],
   ['wej',0,[0,0]]]
c.sort(key=lambda x:x[2][0])
c

[['wej', 0, [0, 0]], ['sy', 20, [10, 10]], ['cy', 100, [80, 20]]]

## EP：
- 手动排序该列表[5,3,8,0,17]，以升序或者降序

- 1
![](../Photo/121.png)

In [7]:
d=eval(input('请输入成绩'))
c=[40,55,70,58]
if d>=max(c)-10:
    print('成绩',d,'等级','A')
elif d>=max(c)-20:
    print('成绩',d,'等级','B')
elif d>=max(c)-30:
    print('成绩',d,'等级','C')
elif d>=max(c)-40:
    print('成绩',d,'等级','D')
else:
    print('成绩',d,'等级','F')

请输入成绩55
成绩 55 等级 B

- 2
![](../Photo/122.png)

In [11]:
a=[1,2,3,4,5,6]
a.reverse()
a

[6, 5, 4, 3, 2, 1]

- 3
![](../Photo/123.png)

In [23]:
c=[2,5,6,5,4,3,23,43,2]
print('2出现',c.count(2),'次')
print('3出现',c.count(3),'次')
print('4出现',c.count(4),'次')
print('5出现',c.count(5),'次')
print('6出现',c.count(6),'次')
print('23出现',c.count(23),'次')
print('43出现',c.count(43),'次')

2出现 2 次
3出现 1 次
4出现 1 次
5出现 2 次
6出现 1 次
23出现 1 次
43出现 1 次

- 4
![](../Photo/124.png)

In [30]:

a=[80,70,90,60,65]
dayu=0
xiaoyu=0
for i in a:
    avd=sum(a) /len(a)
    if i>avd:
        dayu +=1
    if i<avd:
        xiaoyu +=1
print('大于平均数的有：',dayu,'小于平均数的有：',xiaoyu)

大于平均数的有： 2 小于平均数的有： 3

- 5
![](../Photo/125.png)

In [31]:
import random

In [35]:
x=[random.randint(0,9) for x in range(1000)]  #产生1000个随机数
for b in x:
    geshu =x.count(b)#计数
    print(i,'出现',geshu)

3 出现 89
3 出现 89
3 出现 96
3 出现 89
3 出现 101
3 出现 90
3 出现 102
3 出现 116
3 出现 101
3 出现 89
3 出现 101
3 出现 116
3 出现 101
3 出现 93
3 出现 117
3 出现 93
3 出现 96
3 出现 117
3 出现 93
3 出现 95
3 出现 116
3 出现 93
3 出现 96
3 出现 102
3 出现 102
3 出现 89
3 出现 93
3 出现 102
3 出现 89
3 出现 90
3 出现 117
3 出现 96
3 出现 90
3 出现 95
3 出现 96
3 出现 89
3 出现 101
3 出现 95
3 出现 102
3 出现 96
3 出现 116
3 出现 95
3 出现 96
3 出现 102
3 出现 117
3 出现 117
3 出现 101
3 出现 101
3 出现 117
3 出现 101
3 出现 96
3 出现 117
3 出现 89
3 出现 101
3 出现 95
3 出现 90
3 出现 90
3 出现 93
3 出现 101
3 出现 93
3 出现 101
3 出现 116
3 出现 101
3 出现 89
3 出现 102
3 出现 96
3 出现 117
3 出现 101
3 出现 101
3 出现 101
3 出现 116
3 出现 93
3 出现 102
3 出现 116
3 出现 90
3 出现 89
3 出现 96
3 出现 95
3 出现 117
3 出现 89
3 出现 95
3 出现 101
3 出现 101
3 出现 101
3 出现 101
3 出现 95
3 出现 96
3 出现 101
3 出现 101
3 出现 90
3 出现 117
3 出现 101
3 出现 90
3 出现 116
3 出现 102
3 出现 101
3 出现 101
3 出现 117
3 出现 89
3 出现 116
3 出现 117
3 出现 101
3 出现 95
3 出现 89
3 出现 95
3 出现 96
3 出现 101
3 出现 101
3 出现 102
3 出现 101
3 出现 117
3 出现 89
3 出现 96
3 出现 117
3 出现 95
3 出现 116
3 出现 116
3 出现 90
3 出现 96
3 出现 89
3 出现 101
3 出现 117
3 出现 93
3 出现 116
3 出现 101
3 出现 101
3 出现 89
3 出现 116
3 出现 101
3 出现 117
3 出现 101
3 出现 117
3 出现 101
3 出现 93
3 出现 95
3 出现 116
3 出现 89
3 出现 101
3 出现 90
3 出现 93
3 出现 101
3 出现 117
3 出现 101
3 出现 102
3 出现 93
3 出现 102
3 出现 95
3 出现 95
3 出现 90
3 出现 101
3 出现 101
3 出现 90
3 出现 95
3 出现 90
3 出现 101
3 出现 89
3 出现 96
3 出现 90
3 出现 101
3 出现 89
3 出现 89
3 出现 96
3 出现 89
3 出现 95
3 出现 101
3 出现 89
3 出现 101
3 出现 117
3 出现 93
3 出现 96
3 出现 93
3 出现 96
3 出现 93
3 出现 96
3 出现 95
3 出现 117
3 出现 90
3 出现 89
3 出现 93
3 出现 90
3 出现 89
3 出现 116
3 出现 101
3 出现 102
3 出现 93
3 出现 101
3 出现 89
3 出现 102
3 出现 101
3 出现 102
3 出现 93
3 出现 93
3 出现 89
3 出现 96
3 出现 90
3 出现 116
3 出现 96
3 出现 89
3 出现 117
3 出现 89
3 出现 90
3 出现 101
3 出现 93
3 出现 117
3 出现 89
3 出现 95
3 出现 101
3 出现 95
3 出现 116
3 出现 117
3 出现 101
3 出现 89
3 出现 116
3 出现 93
3 出现 117
3 出现 101
3 出现 90
3 出现 96
3 出现 116
3 出现 89
3 出现 90
3 出现 117
3 出现 116
3 出现 93
3 出现 90
3 出现 89
3 出现 93
3 出现 101
3 出现 117
3 出现 116
3 出现 117
3 出现 93
3 出现 96
3 出现 96
3 出现 101
3 出现 90
3 出现 101
3 出现 93
3 出现 93
3 出现 102
3 出现 117
3 出现 96
3 出现 95
3 出现 96
3 出现 93
3 出现 96
3 出现 102
3 出现 101
3 出现 96
3 出现 117
3 出现 95
3 出现 95
3 出现 96
3 出现 90
3 出现 96
3 出现 101
3 出现 93
3 出现 101
3 出现 102
3 出现 101
3 出现 117
3 出现 90
3 出现 117
3 出现 101
3 出现 95
3 出现 101
3 出现 116
3 出现 93
3 出现 102
3 出现 93
3 出现 117
3 出现 95
3 出现 96
3 出现 96
3 出现 102
3 出现 90
3 出现 101
3 出现 116
3 出现 101
3 出现 117
3 出现 117
3 出现 117
3 出现 89
3 出现 102
3 出现 96
3 出现 102
3 出现 116
3 出现 102
3 出现 95
3 出现 116
3 出现 116
3 出现 116
3 出现 116
3 出现 89
3 出现 89
3 出现 96
3 出现 90
3 出现 101
3 出现 93
3 出现 90
3 出现 101
3 出现 101
3 出现 96
3 出现 93
3 出现 101
3 出现 96
3 出现 90
3 出现 102
3 出现 90
3 出现 117
3 出现 101
3 出现 117
3 出现 96
3 出现 101
3 出现 96
3 出现 95
3 出现 101
3 出现 90
3 出现 101
3 出现 102
3 出现 101
3 出现 117
3 出现 101
3 出现 89
3 出现 90
3 出现 116
3 出现 102
3 出现 89
3 出现 101
3 出现 93
3 出现 101
3 出现 90
3 出现 95
3 出现 101
3 出现 90
3 出现 96
3 出现 102
3 出现 101
3 出现 93
3 出现 117
3 出现 117
3 出现 101
3 出现 102
3 出现 89
3 出现 95
3 出现 89
3 出现 117
3 出现 101
3 出现 95
3 出现 101
3 出现 117
3 出现 117
3 出现 89
3 出现 101
3 出现 89
3 出现 102
3 出现 95
3 出现 117
3 出现 96
3 出现 95
3 出现 116
3 出现 102
3 出现 116
3 出现 101
3 出现 116
3 出现 95
3 出现 90
3 出现 95
3 出现 95
3 出现 117
3 出现 101
3 出现 102
3 出现 102
3 出现 90
3 出现 93
3 出现 102
3 出现 101
3 出现 95
3 出现 89
3 出现 89
3 出现 116
3 出现 101
3 出现 93
3 出现 93
3 出现 116
3 出现 101
3 出现 101
3 出现 89
3 出现 96
3 出现 95
3 出现 116
3 出现 117
3 出现 93
3 出现 95
3 出现 101
3 出现 101
3 出现 96
3 出现 101
3 出现 93
3 出现 96
3 出现 117
3 出现 95
3 出现 102
3 出现 117
3 出现 102
3 出现 95
3 出现 101
3 出现 101
3 出现 101
3 出现 102
3 出现 117
3 出现 90
3 出现 95
3 出现 89
3 出现 102
3 出现 93
3 出现 96
3 出现 89
3 出现 90
3 出现 90
3 出现 96
3 出现 101
3 出现 101
3 出现 117
3 出现 90
3 出现 116
3 出现 93
3 出现 93
3 出现 96
3 出现 101
3 出现 90
3 出现 96
3 出现 116
3 出现 117
3 出现 102
3 出现 102
3 出现 93
3 出现 102
3 出现 116
3 出现 90
3 出现 102
3 出现 117
3 出现 117
3 出现 90
3 出现 89
3 出现 117
3 出现 116
3 出现 95
3 出现 95
3 出现 116
3 出现 96
3 出现 117
3 出现 117
3 出现 117
3 出现 102
3 出现 90
3 出现 101
3 出现 93
3 出现 93
3 出现 89
3 出现 102
3 出现 101
3 出现 102
3 出现 102
3 出现 116
3 出现 95
3 出现 89
3 出现 95
3 出现 102
3 出现 96
3 出现 102
3 出现 90
3 出现 90
3 出现 89
3 出现 93
3 出现 117
3 出现 96
3 出现 101
3 出现 102
3 出现 96
3 出现 102
3 出现 116
3 出现 95
3 出现 90
3 出现 117
3 出现 95
3 出现 101
3 出现 101
3 出现 102
3 出现 95
3 出现 117
3 出现 102
3 出现 116
3 出现 95
3 出现 95
3 出现 90
3 出现 101
3 出现 117
3 出现 93
3 出现 101
3 出现 89
3 出现 95
3 出现 93
3 出现 117
3 出现 95
3 出现 89
3 出现 95
3 出现 95
3 出现 89
3 出现 93
3 出现 89
3 出现 102
3 出现 96
3 出现 101
3 出现 89
3 出现 101
3 出现 89
3 出现 116
3 出现 96
3 出现 93
3 出现 90
3 出现 101
3 出现 116
3 出现 102
3 出现 117
3 出现 117
3 出现 116
3 出现 101
3 出现 101
3 出现 93
3 出现 96
3 出现 96
3 出现 96
3 出现 101
3 出现 95
3 出现 101
3 出现 101
3 出现 96
3 出现 102
3 出现 116
3 出现 101
3 出现 90
3 出现 101
3 出现 116
3 出现 102
3 出现 116
3 出现 96
3 出现 117
3 出现 101
3 出现 90
3 出现 95
3 出现 101
3 出现 96
3 出现 102
3 出现 102
3 出现 102
3 出现 89
3 出现 117
3 出现 116
3 出现 116
3 出现 101
3 出现 95
3 出现 95
3 出现 90
3 出现 95
3 出现 102
3 出现 90
3 出现 116
3 出现 117
3 出现 101
3 出现 101
3 出现 90
3 出现 90
3 出现 116
3 出现 117
3 出现 116
3 出现 101
3 出现 101
3 出现 101
3 出现 90
3 出现 116
3 出现 95
3 出现 116
3 出现 116
3 出现 89
3 出现 102
3 出现 89
3 出现 116
3 出现 90
3 出现 116
3 出现 102
3 出现 116
3 出现 89
3 出现 89
3 出现 96
3 出现 96
3 出现 90
3 出现 116
3 出现 96
3 出现 95
3 出现 102
3 出现 96
3 出现 117
3 出现 116
3 出现 102
3 出现 102
3 出现 95
3 出现 116
3 出现 93
3 出现 95
3 出现 116
3 出现 117
3 出现 95
3 出现 90
3 出现 116
3 出现 89
3 出现 101
3 出现 95
3 出现 101
3 出现 96
3 出现 117
3 出现 101
3 出现 102
3 出现 116
3 出现 102
3 出现 89
3 出现 96
3 出现 101
3 出现 101
3 出现 96
3 出现 102
3 出现 116
3 出现 101
3 出现 93
3 出现 93
3 出现 101
3 出现 96
3 出现 117
3 出现 95
3 出现 96
3 出现 116
3 出现 89
3 出现 93
3 出现 95
3 出现 116
3 出现 93
3 出现 101
3 出现 93
3 出现 90
3 出现 93
3 出现 95
3 出现 116
3 出现 102
3 出现 95
3 出现 95
3 出现 117
3 出现 117
3 出现 116
3 出现 117
3 出现 101
3 出现 102
3 出现 90
3 出现 102
3 出现 102
3 出现 116
3 出现 96
3 出现 101
3 出现 117
3 出现 116
3 出现 95
3 出现 117
3 出现 102
3 出现 116
3 出现 116
3 出现 102
3 出现 90
3 出现 89
3 出现 93
3 出现 90
3 出现 89
3 出现 95
3 出现 102
3 出现 101
3 出现 116
3 出现 101
3 出现 95
3 出现 89
3 出现 101
3 出现 117
3 出现 117
3 出现 101
3 出现 102
3 出现 101
3 出现 90
3 出现 116
3 出现 101
3 出现 89
3 出现 90
3 出现 93
3 出现 96
3 出现 89
3 出现 117
3 出现 101
3 出现 89
3 出现 96
3 出现 117
3 出现 95
3 出现 116
3 出现 116
3 出现 116
3 出现 96
3 出现 101
3 出现 90
3 出现 116
3 出现 101
3 出现 90
3 出现 95
3 出现 117
3 出现 101
3 出现 93
3 出现 95
3 出现 93
3 出现 95
3 出现 93
3 出现 95
3 出现 95
3 出现 95
3 出现 117
3 出现 93
3 出现 93
3 出现 117
3 出现 116
3 出现 101
3 出现 93
3 出现 101
3 出现 93
3 出现 90
3 出现 89
3 出现 116
3 出现 101
3 出现 102
3 出现 116
3 出现 90
3 出现 96
3 出现 116
3 出现 101
3 出现 116
3 出现 89
3 出现 96
3 出现 96
3 出现 89
3 出现 101
3 出现 93
3 出现 101
3 出现 117
3 出现 89
3 出现 117
3 出现 95
3 出现 96
3 出现 93
3 出现 117
3 出现 102
3 出现 90
3 出现 93
3 出现 102
3 出现 101
3 出现 96
3 出现 93
3 出现 101
3 出现 116
3 出现 101
3 出现 89
3 出现 95
3 出现 90
3 出现 101
3 出现 101
3 出现 95
3 出现 101
3 出现 117
3 出现 101
3 出现 93
3 出现 102
3 出现 101
3 出现 93
3 出现 116
3 出现 102
3 出现 93
3 出现 90
3 出现 117
3 出现 116
3 出现 116
3 出现 89
3 出现 96
3 出现 101
3 出现 96
3 出现 101
3 出现 101
3 出现 116
3 出现 101
3 出现 101
3 出现 95
3 出现 116
3 出现 89
3 出现 116
3 出现 101
3 出现 117
3 出现 90
3 出现 117
3 出现 93
3 出现 89
3 出现 116
3 出现 93
3 出现 117
3 出现 101
3 出现 101
3 出现 117
3 出现 89
3 出现 117
3 出现 117
3 出现 101
3 出现 95
3 出现 90
3 出现 101
3 出现 95
3 出现 90
3 出现 116
3 出现 95
3 出现 101
3 出现 101
3 出现 89
3 出现 96
3 出现 96
3 出现 101
3 出现 96
3 出现 117
3 出现 93
3 出现 93
3 出现 101
3 出现 117
3 出现 101
3 出现 89
3 出现 116
3 出现 116
3 出现 96
3 出现 93
3 出现 116
3 出现 101
3 出现 95
3 出现 117
3 出现 117
3 出现 117
3 出现 90
3 出现 116
3 出现 102
3 出现 93
3 出现 93
3 出现 117
3 出现 96
3 出现 93
3 出现 93
3 出现 101
3 出现 95
3 出现 117
3 出现 101
3 出现 96
3 出现 116
3 出现 90
3 出现 102
3 出现 117
3 出现 90
3 出现 101
3 出现 117
3 出现 102
3 出现 89
3 出现 96
3 出现 117
3 出现 96
3 出现 102
3 出现 101
3 出现 96
3 出现 96
3 出现 95
3 出现 117
3 出现 116
3 出现 101
3 出现 117
3 出现 101
3 出现 101
3 出现 116
3 出现 101
3 出现 116
3 出现 101
3 出现 117
3 出现 102
3 出现 96
3 出现 117
3 出现 95
3 出现 117
3 出现 93
3 出现 101
3 出现 93
3 出现 102
3 出现 93
3 出现 93
3 出现 102
3 出现 89
3 出现 102
3 出现 90
3 出现 102
3 出现 96
3 出现 96
3 出现 117
3 出现 116
3 出现 102
3 出现 101
3 出现 116
3 出现 102
3 出现 116
3 出现 101
3 出现 101
3 出现 90
3 出现 116
3 出现 101
3 出现 89
3 出现 101
3 出现 95
3 出现 101
3 出现 96
3 出现 116
3 出现 116
3 出现 102
3 出现 89
3 出现 90
3 出现 93
3 出现 117
3 出现 90
3 出现 101
3 出现 93
3 出现 90
3 出现 90
3 出现 116
3 出现 90
3 出现 102
3 出现 102
3 出现 89
3 出现 101
3 出现 116
3 出现 117
3 出现 101
3 出现 102
3 出现 116
3 出现 96
3 出现 95
3 出现 90
3 出现 101
3 出现 116
3 出现 102
3 出现 89
3 出现 90
3 出现 90
3 出现 116
3 出现 101
3 出现 101
3 出现 102
3 出现 101
3 出现 101
3 出现 116
3 出现 101
3 出现 102
3 出现 96
3 出现 101
3 出现 117
3 出现 96
3 出现 101
3 出现 101
3 出现 102
3 出现 95
3 出现 90
3 出现 101
3 出现 117
3 出现 102
3 出现 117
3 出现 101
3 出现 117
3 出现 95
3 出现 93
3 出现 89
3 出现 93
3 出现 101
3 出现 93
3 出现 93
3 出现 90
3 出现 90
3 出现 95
3 出现 102
3 出现 89
3 出现 116
3 出现 102
3 出现 101
3 出现 101

- 6
![](../Photo/126.png)

In [38]:
def min_():
    a=[1,2,3,4,5,6,9]
    d=a.index(min(a))
    print(d)

In [39]:
min_()

0

- 7
![](../Photo/127.png)
![](../Photo/128.png)

In [ ]:
def shuffle():

- 8
![](../Photo/129.png)

In [40]:
def xiaochu():
    a=[1,2,3,2,1,6,3,4,5,2]
    list1=list(set(a))
    print(list1)

In [41]:
xiaochu()

[1, 2, 3, 4, 5, 6]

- 9
![](../Photo/130.png)

In [42]:
def stor(list=[]):
    lst=[1,1,3,4,4,5,7,9,10,30,11]
    if list== lst.sort():
        print('这个列表已经排好序')
    else:
        print('这个列表没有排好序')

In [43]:
stor(list=[1,1,3,4,4,5,7,9,10,30,11])

这个列表没有排好序

- 10
![](../Photo/131.png)

In [44]:
a=[1,2,3,6,8,7,4,5,9,15]
for i in range(len(a)-1):
    for j in range(len(a)-1-i):#-1一次锁定最大值
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 15]

- 11
![](../Photo/132.png)

- 12
![](../Photo/133.png)

In [48]:
def four(list=[]):
    count =1
    for i in range(0,len(list)-1):
        if list[i]==list[i+1]:
            count +=1
    if count==4:
        print('有四个相同的连续数字')
    else:
        print('没有四个相同的连续数字')

In [49]:
four(list=[2,3,4,4,4,4,5])

有四个相同的连续数字

In [50]:
four(list=[1,2,5,8,6,7])

没有四个相同的连续数字